body {
    background-color: lightblue;


}

.knapp {}



footer {
    background-color: bisque;
}

nav {
    background-color: aliceblue;
}

section {
  background-color: aquamarine;
}
kontakt {
    background-color: aquamarine;
}